
.container {
  width: 400px;
  max-width: 400px;
  margin: 15% auto 0 auto;
}

.mt-5 {
  margin-top: 1.5rem;
}

.form-container {
  text-align: center;
}

.form-group {
  margin-bottom: 10px;
}

.btn {
  background: #2d1127;
  outline: 0 !important;
  box-shadow: none !important;
  border: 1px solid #2d1127;
  color: #fff;
  padding: 5px 20px;
  cursor: pointer;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  text-align: center;
  height: 40px;
  border: 1px solid #ccc;
  outline: 0 !important;
  box-shadow: none !important;
}

.plain-btn {
  background: none;
  outline: 0 !important;
  box-shadow: none !important;
  border: 0px solid !important;
  cursor: pointer;
}